@import "../../styles/global.scss";

.answerButton {
  display: flex;
  flex-direction: row;
  background-color: $background;
  border-radius: 3px;
  border: none;

  margin-top: 5px;

  align-items: center;

  .answer-letter-wrapper {
    display: flex;
    padding: 6px;
    border-radius: 3px;
  }

  span {
    margin-left: 10px;
    font-family: $font;
    font-weight: bold;
    color: $text-primary;
  }

  p {
    font-weight: bold;
    font-family: $font;
  }
}

.answerButton:hover {
  opacity: 0.7;
  cursor: pointer;
}
