.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6fcfe;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px 0 16px;

    width: 100%;
    height: 8vh;

    span {
      font-weight: bold;
      color: rgb(65, 65, 65);
    }

    .chevron {
      color: #38d0fc;
    }

    .chevron:hover {
      color: #11576b;
      cursor: pointer;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 0 16px 0 16px;

    width: 100%;
    height: 5vh;

    span {
      color: rgb(80, 80, 80);
      font-weight: medium;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding: 0 16px 0 16px;
  }
}
